<%- include('partial/header')-%>
<h1>About Us</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor nunc, aliquet in varius non, sagittis varius ex. Cras arcu velit, egestas a tortor nec, sagittis tristique erat. Donec sollicitudin non sapien non placerat. Curabitur
</p>
<%- include('partial/footer')-%>
