<%- include('partial/header')-%>
<h1>topic</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tortor nunc, aliquet in varius non, sagittis varius ex. Cras arcu velit, egestas a tortor nec, sagittis tristique erat. Donec sollicitudin non sapien non placerat. Curabitur
  mattis ut ipsum vitae feugiat. Ut tincidunt, metus a congue mattis, ligula ligula lacinia purus, a viverra nulla ipsum ut tellus. Sed ligula nisl, faucibus a fringilla at, iaculis in purus. Aliquam lectus turpis, euismod interdum accumsan in,
  convallis vestibulum lacus. Curabitur condimentum eros eget sapien tincidunt congue vitae eget ante. In vitae diam sit amet ipsum molestie laoreet. Ut fermentum dui eget risus tincidunt rhoncus. Morbi vel accumsan metus. Sed a ex imperdiet,
  posuere lorem sit amet, placerat urna. Vestibulum vitae finibus arcu. Aliquam at elementum dolor. In imperdiet libero ac lorem venenatis, eget posuere nibh imperdiet.

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus faucibus lacus neque, a ultricies lacus eleifend ut. Duis et scelerisque lorem. Donec venenatis venenatis felis, eu lacinia lorem pulvinar ut. Duis scelerisque vitae leo in commodo.
  Vivamus eget nisi hendrerit, pellentesque tellus vitae, iaculis tortor. Curabitur et porta nunc. Aliquam auctor vitae velit sed suscipit. Mauris euismod mauris commodo tortor placerat lacinia. Donec lacinia sapien ligula, eu laoreet odio
  tristique id. Fusce consequat sem magna, vel maximus orci tempus eu.

  Ut euismod, tellus ac sollicitudin commodo, libero ex finibus diam, sit amet ullamcorper purus enim ut lacus. Phasellus sit amet dictum velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta hendrerit auctor. Integer
  tincidunt metus facilisis metus gravida posuere eget vel magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed interdum tempor interdum. Aenean feugiat, lacus et tincidunt malesuada, velit ipsum
  maximus arcu, quis egestas lorem arcu at nunc. Quisque pharetra elit id massa aliquet suscipit. Nullam bibendum porttitor sapien eu ultricies. In fringilla enim eu quam tristique, vel placerat metus egestas.

  Curabitur at finibus nunc. Aenean quis risus nec turpis ullamcorper iaculis. Nam cursus, neque vitae efficitur rhoncus, urna ante ornare eros, sed laoreet nulla metus vel purus. Nulla in mi non odio condimentum viverra id a velit. Suspendisse
  lacinia arcu eu urna consectetur, a commodo leo pretium. Mauris at nunc semper, commodo eros nec, faucibus libero. Aliquam ornare sem massa, sit amet volutpat enim gravida quis. Nulla vel egestas eros, at sollicitudin justo. Nam congue libero
  consectetur urna dignissim gravida. Sed finibus velit ac feugiat rutrum. Suspendisse eleifend egestas quam id accumsan. Morbi et eros vel neque eleifend finibus. Nunc in feugiat quam. Suspendisse eu nunc at mauris feugiat tempus condimentum id
  mauris. Vivamus convallis ac elit at luctus. Suspendisse vestibulum sem quis elit fermentum tristique.

  Aenean laoreet diam arcu, ut iaculis elit volutpat ut. Praesent mollis tortor nibh, sit amet euismod ligula mollis id. Phasellus mollis eu tortor vestibulum condimentum. Nullam vitae justo vel metus mollis tempor. Donec elementum tortor in
  sollicitudin placerat. Pellentesque nec neque varius, congue libero id, mattis leo. Suspendisse ullamcorper non sapien et tempus. Etiam accumsan tempus ipsum, et sagittis lacus tempor vitae. Nullam elementum quis nunc ut viverra. Vestibulum sed
  lorem sollicitudin, tempor tortor in, dignissim metus. Ut auctor arcu eget dolor pharetra dapibus a ut metus.
</p>
<%- include('partial/footer')-%>
