<footer id= "footer" class="position-absolute">
  <h2 id="footer-title">Contact us</h2>
  <div class="container-fluid">
    <span><a class="fab fa-github social-img fa-2x"></a></span>
    <span><a class="fab fa-facebook social-img fa-2x"></a></span>
    <span><a class="fas fa-envelope social-img fa-2x"></a></span>
  </div>
  <p>&copy; Kevin Q.Dao</p>
</footer>
</body>
</html>
